.nav-link {
    position: relative;
    padding-bottom: .5rem;
    padding-top: .5rem;

    .intro:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #297aa3;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    .intro:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    .reasons:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #e95444;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    .reasons:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    .interview:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #a6307f;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      .interview:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      .video:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #96881d;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      .video:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      .theoretic:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #5d883a;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      .theoretic:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      .Practical:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #6c88c1;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      .Practical:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      .articles:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #de6717;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      .articles:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      .active { 
        position: relative;
        padding-bottom: .5rem;
      
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transition: transform .3s ease-in-out;
          transform-origin: left;
          transform: scaleX(1);
        }
      }
  }

  .article-link { 
    position: relative;
    padding-bottom: .5rem;
  
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      bottom: 0;
      background-color: #de6717;
      left: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  .animate-example {
    transition: .3s ease all;
  }

  .animate-example:hover {
    transform: translateY(-5px);
  }

  .fitts-color {
    color: #D87B2E;
  }

  .fittsBorder {
    border-color: #D87B2E;
  }

  .hicks-color {
    color: #C2185D;
  }

  .hicksBorder {
    border-color: #C2185D;
  }

  .jacobs-color {
    color: #30903E;
  }

  .jacobsBorder {
    border-color: #30903E;
  }

  .similar-color {
    color: #F05350;
  }

  .similarBorder {
    border-color: #F05350;
  }


  